doctype html
html
  head
    title= "Oliver Crawford"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/x-icon" href="/images/favicon.png")
  body
    block content
